@charset "UTF-8";

@media screen and (max-width: 768px) {
    main{
        width: 768px;
    }
}

@media screen and (min-width: 768px) { /* IMAGEM TEM QUE FICAR NA LATERAL ESQUERDA DO TEXTO */
    main{
        width: 768px;
    }

    body, html{
        background-image: linear-gradient(to bottom,#1B1C20, #6C798A);
        height: 100vh;
        width: 100vw;
    }

    body > div#formulario > h1{
    text-align: center;

   }

   

   section#login{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 640px;
    height: 300px;
   }

    section#login > div#imagem {
        background: #393E54 url(../imagens/porta-amarela.jpg) no-repeat;
        background-size: cover;
        background-position: left center;
        height: 100%;
        width: 60%;
    
    }
}

    @media screen and (min-width: 992px) { /* IMAGEM TEM QUE FICAR DO LADO DIREITO DO TEXTO */
        section#login{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 800px;
            height: 400px;
           }
    }